@import url(fonts/clear-sans.css);


html,
body {
    background: #ffffffab;
    color: #ffffff;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 18px;
    margin: 0;

}

.game {
    padding-top: 5%;
}

.themepannel {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: 0.5s;
    padding-top: 60px;
    align-items: center;
}

.themepannel p,
.themepannel a {

    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    right: 10px;
}

.themepannel .theme_closebtn {
    position: absolute;
    top: 0;
    right: 200px;
    font-size: 36px;
}

.sharethemediv{
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    border-radius: 10px;
    width: 30%;
    position: fixed;
    z-index: 2;
    height: auto;
    background-color: #111;
    transition: 0.5s;
    display: none;
    padding: 10px;

}

.sharethemediv input{
    width: 80%;
    margin-left: 10%;
    overflow-y: scroll;
}

.sidepanel {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidepanel p,
.sidepanel a {

    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidepanel button,
.themepannel button, #loadbutton {
    border-radius: 10px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    background-color: rgb(43, 41, 41);
    display: block;
    transition: 0.3s;
}

.sidepanel input, .themepannel input{
    appearance: none;
    border-radius: 10px;
    border: 2.5px solid #cacece;
    background-color: rgb(43, 41, 41);
    display: block;
    transition: 0.3s;
    padding: 10px;
}

.makeTileConatiner {
    padding-left: 60px !important;
}

.sidepanel input:checked, .themepannel input:checked{
    appearance: none;
    border-radius: 10px;
    border: 2.5px solid #cacece;
    background-color: #cacece;
    display: block;
    transition: 0.3s;
}


.sidepanel a:hover {
    color: #f1f1f1;
}

.sidepanel .closebtn, .share_closebtn {
    color: #818181;
    text-decoration: none;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}
button:hover {
    background-color: #444;
}
h1 {
    font-size: 72px;
}

h2 {
    font-size: 60px;
    margin-left: 20px;
}


.grid {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    background-color: black;
    border: 5px solid #cacece;
    border-radius: 5px;
}

.header {

    margin: auto;
    width: 400px;
}

.grid div {
    width: 100px;
    height: 100px;
    background-color: #cacece;


}

.test {
    color: rgb(255, 0, 0);
}

.grid .tile {
    top: 5px;
    border-radius: 5px;
    animation: spawning 0.2s;
    left: 5px;
    position: relative;
    width: 90px;
    height: 90px;
    background-color: lightgreen;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    line-height: 80px;

}


.animate-down {
    position: relative;
    animation: animatetop 0.2s;
}

@keyframes animatetop {
    from {
        top: -100px;
    }

    to {
        top: 0;
    }
}

.animate-up {
    position: relative;
    animation: animatebottom 0.2s
}

@keyframes animatebottom {
    from {
        bottom: -100px;
    }

    to {
        bottom: 0;
    }
}

.animate-left {
    position: relative;
    animation: animateright 0.2s
}

@keyframes animateright {
    from {
        right: -100px;
    }

    to {
        right: 0;
    }
}

.animate-right {
    position: relative;
    animation: animateleft 0.2s
}

@keyframes animateleft {
    from {
        left: -100px;
    }

    to {
        left: 0;
    }
}

@keyframes spawning {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

.animate-pop {
    border: 5px #cacece;
    animation: pop 0.2s;
}

@keyframes pop {
    from {
        transform: scale(1)
    }

    to {
        transform: scale(1.175)
    }
}

.settingrow {
    display: flex;
    align-items: center;
    justify-content: left;
}

.settingrow * {
    padding: 5px;
}

.scoretab {
    background-color: gray;
    color: white;
    text-align: center;
    border: 1px solid;
    border-color: black;
    box-shadow: 2px 5px #ee9292;
    padding-bottom: 5px;
    margin-bottom: 0;
}

.column {
    float: left;
    width: 150px;
    padding-right: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    padding-bottom: 0;
}

.inline {
    display: inline;

}

#result {
    position: absolute;
    display: none;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 400px;
    z-index: 2;
    background-color: red;

}

#result h1 {
    margin-left: 20%;
    font-size: 30px;
}

#result button {
    margin-left: 20%;
    border-radius: 10px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    background-color: rgb(43, 41, 41);
    display: block;
    transition: 0.3s;

}